* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    font-size: 200px;
}

.form{
    display:flex;
    flex-direction: column;
}

.form__item{
    margin-bottom: 20px;
}